


/* 
	I use globals styles for all the project styles
	
	Implement mobile-first design

	«mobile.css» — general global mobile-first styles
*/


/* 
	Structure:

		Colors
		Typography
		Layout
			Header
			Main
				Form
					Messages
					Button
					Total
			Footer
		Mobile
*/



/* ————————— Colors ————————— */

:root {
	--dominant: rgb(247, 245, 242);
	--recessive: rgb(1, 6, 16);
	--accent: rgb(249, 234, 70);
	--accent-glow: rgb(255, 245, 134);
	--warning: rgb(249, 70, 70);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--dominant: rgb(2, 9, 22);
		--recessive: rgb(243, 237, 223);
	}
} */


/* ————————— Typography ————————— */

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: calc(1.75vh + 10px);
	color: var(--recessive);
}


/* ————————— Layout ————————— */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.05s ease;
}

body {
	background-color: var(--dominant)
}


/* ——— Header ——— */

header {
	position: sticky;
	-webkit-backdrop-filter: blur(0.5rem);
	backdrop-filter: blur(0.5rem);

	height: 17.5vh;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	background-color: var(--recessive);
	color: var(--dominant);
}


/* ——— Main ——— */

main {
	margin: 2rem 4rem;
	min-height: 100vh;
}

/* — Form — */

main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;

	margin: 25vh 0;
}

main form section {
	font-size: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	border-radius: 0.5rem;

	padding: 1.25rem;
	min-height: 25vh;

	background-color: color-mix(in srgb, white, transparent 25%);

	transition: all 0.33s ease;
}

main form section label, main form section p {
	letter-spacing: 0.05rem;
}

main form section textarea, main form section input {
	padding: 0.5rem;

	background-color: var(--dominant);

	border-radius: 0.5rem;
	border: 0.25rem solid white;
}

main form section input {
	min-height: 1.5rem;
} 

main form section textarea {
	height: 5rem;
}

main form button {
	height: 3rem;
	border-radius: 0.5rem;

	margin: 1.5rem 0;

	background-color: var(--accent);
	border: none;

	font-size: 1.125rem;
	font-weight: 600;

	cursor: pointer;

	transition: all 0.33s ease;
}

main form button:hover:not(:disabled) {
	transform: translateY(0.1rem);
	box-shadow: 0 0 1rem 0.25rem var(--accent-glow);
}

main form button:disabled {
	background-color: var(--warning);
	color: var(--dominant);
	cursor: not-allowed;
}

/* Messages */
.errorMessage {
	font-weight: 500;

	border-radius: 0.5rem;
	background-color: var(--warning);
	padding: 1rem;

	color: var(--dominant);

	animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-0.5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


/* ——— Footer ——— */

footer {
	height: 17.5vh;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	background-color: var(--recessive);
	color: var(--dominant);
}